@font-face {
font-family: "PlaywriteUSTrad";
src: url(/app_one/static/src/font/PlaywriteUSTrad-VariableFont_wght.ttf)
}
@font-face {
font-family: "AmaticSC";
src: url(/app_one/static/src/font/AmaticSC-Bold.ttf)
}
